[Unit]
Description=XMPP component for HTTP file uploads
After=network.target

[Service]
type=simple
User=uploader
Group=uploader
ExecStart=/usr/bin/python3 /opt/HttpUploadComponent/server.py --config /opt/HttpUploadComponent/config.yml

[Install]
WantedBy=multi-user.target
